.projects {
    padding: 4rem;
    /* background: #fff; */
}

h1 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.projects-wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.projects-items {
    margin-bottom: 24px;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .projects-items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .card {
      margin-bottom: 2rem;
    }
  }